<<<<<<< HEAD


:root {
    --clr1: #54BAB9;
    --clr2: #9ED2C6;
    --clr3: #E9DAC1;
    --clr4: #F7ECDE;
}

body {
    background-color: var(--clr4);
    margin: 0;
}

.main-layout {
    max-width: 1100px;
}

.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.btn:hover {
    cursor: pointer;
}

.main-header {
    background-color: var(--clr1);
    min-height: 120px;
    display: flex;
    justify-content: center;
}

.main-header .main-layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.main-header .main-layout h1 {
    font-size: 3.2em;
    color: #be7636;
}

.main-header .main-layout .input-search {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    height: 40px;
}

.main-header .main-layout .btn-search {
    background-color: var(--clr2);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

.main-header .main-layout .btn-search:hover {
    background-color: #9ed2c6c1;
=======
@font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis/Dosis-Medium.ttf);
}

html{
    font-family: Dosis;
>>>>>>> 52dab867a4ecb1b877c6b55928c364ac9071e8f4
}